.App {
  width: 300px;
  padding: 10px;
}

.container {
  margin: 0 auto;
  width: 230px;
}


.login-container {
  margin: 0 auto;
  width: 230px;
  text-align: center;
}

.logout {
  text-align: right;
  margin-right: -22px;
}

.logout > a {
  color: #673AB7;
}
.logout > a:hover {
  color: #311B92;
}


.search-icon {
  padding: 10px;
  background: linear-gradient(45deg, #EF5350 30%, #FF8E53 90%);
  border: 0;
  box-shadow: 0 1px 5px 2px rgba(255, 105, 135, .30);
  color: white;
}

.gif {
  height: 130px;
  width: 230px;
  margin-top: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
